@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Monoton:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: rgba(240, 75, 177, 0.423);
}
.container {
  width: 350px;
  background: #282851cf;
  padding: 1rem;
  /* margin: 5rem auto; */
  margin: 3rem auto;
  border-radius: 5px;
}
.container h1 {
  text-align: center;
  font-family: "Monoton";
  /* color: rgb(161, 160, 160);*/
  color: rgba(244, 180, 220, 0.981);
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 400;
  word-spacing: 5px;
  letter-spacing: 5px;
  padding: 2.4rem 0;
}

.inputField {
  width: 100%;
  padding: 5px 1rem;
  background: #b592dc52;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputField input {
  width: 100%;
  background: transparent;
  padding: 10px;
  color: rgba(244, 180, 220, 0.981);
  font-size: 1rem;
}
.inputField input::placeholder {
  /*color: rgb(161, 160, 160);*/
  color: rgba(244, 180, 220, 0.981);
}

.inputField button {
  background: rgba(242, 91, 184, 0.957);
  color: #fff;
  font-size: 2rem;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
}

/* to do list style */
.toDoList {
  margin-top: 2rem;
}
.toDoList span {
  /*color: rgb(161, 160, 160);*/
  color: rgba(244, 180, 220, 0.981);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
}

.toDoList .list-items {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.list-items .items {
  background: #b592dc52;
  border-radius: 10px;
  padding: 14px;
  display: flex;
  align-items: center;
  /*justify-content: space-between;*/
  /*color: rgb(186, 186, 186);*/
  color: rgba(244, 180, 220, 0.981);
}
input[type="checkbox"] {
  padding: 5px;
  cursor: pointer;
}
.all-check {
  padding-left: 14px;
  display: flex;
  justify-content: space-between;
}

.items-text {
  display: flex;
  align-items: center;
  gap: 15px;
}
.items-text div {
  color: red;
  overflow: hidden;
}
.notify {
  text-align: center;
  /*color: rgb(161, 160, 160);*/
  color: rgba(244, 180, 220, 0.981);
}

.delete-icon {
  color: rgba(244, 180, 220, 0.981);
  width: 40px;
  height: 40px;
  font-size: 27px !important;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  display: block;
}
.delete-icon:hover {
  background: #3d79b1;
  transition: 0.3s;
}

.isChecked {
  text-decoration: line-through;
  opacity: 0.5;
}

.stats {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: #282851;
}
