@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Monoton:wght@200;300;400;500;600;700;800&display=swap");

body {
  background: rgba(240, 75, 177, 0.423);
  margin: 0;
  padding: 0;

  font-family: "Yeon Sung", fantasy;
}
.container {
  width: 350px;
  background: #282851cf;
  padding: 1rem;
  /* margin: 5rem auto; */
  margin: 3rem auto;
  border-radius: 5px;

  box-sizing: border-box;
}
.container h1 {
  margin: 10px;

  text-align: center;
  font-family: "Nanum Brush Script", fantasy;

  /* color: rgb(161, 160, 160);*/
  color: rgba(244, 180, 220, 0.981);
  text-shadow: 2.6px 2.6px 0 #e4cdff64;

  font-size: 50px;
  text-transform: uppercase;
  font-weight: bolder;

  letter-spacing: 4px;
  padding: 1rem;
}

.inputField {
  padding: 5px 1rem;
  background: #b592dc52;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputField input {
  width: 100%;
  background: transparent;
  padding: 10px;
  color: rgba(244, 180, 220, 0.981);
  font-size: 20px;
  font-family: "Yeon Sung", fantasy;

  border: none;
  outline: none;
}
.inputField input::placeholder {
  /*color: rgb(161, 160, 160);*/
  color: rgba(244, 180, 220, 0.981);
}

/* Hiding class, making content visible only to screen readers but not visually */
/* "sr" meaning "screen-reader" */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.inputField button {
  background: rgb(246, 98, 189);
  color: white;
  font-size: 2rem;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
  border: 1.5px solid white;
}

/* to do list style */
.toDoList {
  margin-top: 1rem;
}
.toDoList span {
  /*color: rgb(161, 160, 160);*/
  color: rgba(244, 180, 220, 0.981);

  font-family: "Nanum Brush Script", fantasy;

  text-transform: uppercase;
  font-size: larger;
  font-weight: 600;
}
ul {
  padding-inline-start: 0px;
}
.toDoList .list-items {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.list-items .items {
  background: #b592dc52;
  border-radius: 10px;
  padding-left: 14px;
  padding-right: 14px;
  display: flex;
  align-items: center;
  /*justify-content: space-between;*/
  /*color: rgb(186, 186, 186);*/
  color: rgba(244, 180, 220, 0.981);
  box-shadow: 0 2px 0 rgba(244, 180, 220, 0.5);

  font-size: 25px;
}
.list-items .items p {
  margin-top: 15px;
  margin-bottom: 15px;
}
input[type="checkbox"] {
  padding: 5px;
  cursor: pointer;
}
.check {
  padding-left: 14px;
  display: flex;
  align-items: center;
}

.items-text {
  display: flex;
  align-items: center;
  gap: 10px;
}
.items-text div {
  color: red;
  overflow: hidden;
}
.items-text label {
}
.notify {
  text-align: center;
  /*color: rgb(161, 160, 160);*/
  color: rgba(244, 180, 220, 0.981);
}

.all-check {
  display: flex;
  gap: 10px;
}
.delete {
  text-align: -webkit-center;
  margin-left: auto;
  padding-right: 14px;
}

.delete-icon {
  color: rgba(244, 180, 220, 0.981);
  width: 30px;
  height: 30px;
  font-size: 27px !important;
  cursor: pointer;
  border-radius: 50%;

  display: block;
}
.delete-icon:hover {
  background: #3d79b1;
  transition: 0.3s;
}

.isChecked {
  text-decoration: line-through;
  opacity: 0.5;
}

.stats {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: #282851;
}
